.java{
    display: none;
}

.swift{
    display: none;
}

.php{
    display: none;
}

form {
  margin-top: 50px;
}

.alert {
  display: none;
}

.btn {
  background-color: #67d3ca;
  margin-top: 30px;
  color: white;
}

.leftCompass {
  shape-outside: circle();
  width: 45px;
  float: left;
  margin-bottom: 45px;
}

.rightCompass {
  shape-outside: circle();
  width: 45px;
  float: right;
  margin-bottom: 85px;
}

h1 {
  font-family: fantasy;
  margin-left: 55px;
  text-align: center;

}

h2 {
  font-family: fantasy;
  text-align: center;
}
