.java{
    display: none;
    text-align: center;
    margin-top: 45px;
}

.swift{
    display: none;
    text-align: center;
}

.php{
    display: none;
    text-align: center;
}

form {
  margin-top: 100px;
}

.alert {
  display: none;
}

.btn {
  background-color: #67d3ca;
  margin-top: 30px;
  color: white;
}

.leftCompass {
  shape-outside: circle();
  width: 60px;
  float: left;
  margin-bottom: 45px;
}

.rightCompass {
  shape-outside: circle();
  width: 60px;
  float: right;
  margin-bottom: 85px;
}

.needle {
  height: 35px;

}

h1 {
  font-family: fantasy;
  margin-left: 55px;
  text-align: center;
  f

}

.col-lg-8 {
  background-color: #e3e7e8;
  margin-top: 55px;

}

.emblem {

  height: 60px;
  text-align: center;
}

#submit {
  text-align: center;
}
