.java{
    display: none;
}

.swift{
    display: none;
}

.php{
    display: none;
}

form {
  margin-top: 50px;
}

.alert {
  display: none;
}

.btn {
  background-color: #538ce8;
  margin-top: 30px;
  color: white;
}
